@import "tailwindcss";


body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    min-height: 100vh;
}

input::placeholder {
    color: #8E8E93;
    font-size: 16px;
}